simsumM12.rda
lengths.csv
lengths.rda
~$RREASmetadata.xlsx
zoo_selgroups_HadSST_relabundance_5aug2019_plumchrusV_4regions_final_satsstall.xls
zoo_selgroups_HadSST_relabundance_5aug2019_plumchrusV_4regions_final_satsstall.csv
BEUTI_daily.csv
CaliforniaMOCI_JFM1991-JAS2020.csv
CUTI_daily.csv
